.add-article .card-body {
  display: none;
}

.art-addheading {
  cursor: pointer;
  user-select: none;
}

.article-list {
  font-size: 1.1em;
}

.article-list .article-item {
  border-bottom: 1px dotted gray;
}

.article-list .article-item:last-child {
  border-bottom: none;
}

.article-list .article-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.article-list .label-item {
  font-weight: 600;
  color: #667b82;
}

.article-list .apt-date {
  font-style: italic;
}

.article-list .art-summary {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}